.form {
  margin: auto;
  max-width: 600px;
  margin-bottom: 100px;

  .fields {
    padding: 80px 0 0 0;
    .row {
      display: flex;
      &.photo{
        margin: 20px 0;
      }
      .space-between {
        padding: 10px;
      }
    }
    .upload-input{
      display: none;
    }
    .upload-button{
      width: 100%;
    }
  }
}
