@import "../../../../../assets/styles/imports";

.user-order {
  position: relative;
  margin: auto;
  margin-top: 40px;
  height: 100%;
  max-width: 600px;
  background: $color-scale0;
  border-radius: 25px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.5);
  .gradient-img-driver-order {
    position: absolute;
    top: 0;
    .driver-img-1 {
      object-fit: cover;
      height: 80px;
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
    .gradient {
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to bottom, $color-scale5, rgba($color-scale5, 0.2));
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
  .order-title {
    position: relative;
    padding: 30px 45px 0;
    line-height: 18px;
    h2 {
      margin: 0 0 40px 0;
      color: $color-scale0;
      text-decoration: underline;
    }
  }
}
