@import "../../../../../assets/styles/imports";

.order-3 {
  margin: auto;
  margin-top: 40px;
  height: 100%;
  max-width: 600px;
  background: $color-scale0;
  border-radius: 45px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.5);
  .terms-conditions{
    padding: 30px 45px;
    line-height: 18px;
    h2{
      text-decoration: underline;
    }
  }
  .order-btn-3 {
    display: flex;
    justify-content: center;
    .order-accept-btn,
    .order-cancel-btn {
      padding: 12px 0 !important;
      font-size: $font-size-normal !important;
      font-family: $font-montserrat !important;
    }
    .order-accept-btn {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 25px !important;
      background: $color-scale3 !important;
    }
    .order-cancel-btn {
      border-bottom-right-radius: 25px !important;
      color: $color-scale3 !important;
    }
  }
}
