@import "../../../../../assets/styles/imports";

.container-dashboard {
  display: flex;

  .main-dashboard {
    width: 100%;
    background: $color-scale0;
    .driver-dashboard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .driver-start-btn {
        display: inline-flex;
        margin: 100px 0;
        padding: 20px;
        border: 4px solid $color-scale4;
        font-size: $font-size-normal-big;
        font-family: $font-montserrat;
        font-weight: $font-bolder;
        transition: all 0.5s ease;

        &:hover {
          color: $color-scale0;
          background: $color-scale4;
        
        }
      }
      .gradient-img {
        position: relative;
        .driver-img-0 {
          object-fit: cover;
          height: 400px;
          width: 100%;
        }
        .gradient {
          bottom: 0;
          width: 100%;
          height: 60%;
          position: absolute;
          background: linear-gradient(to top, $color-scale5, rgba($color-scale5, 0));
        }
      }
    }
  }
}
