.inside-container {
  padding: 0 40px;
  margin: auto;
}

.display-none {
  display: none;
}

.margin-auto {
  margin: auto;
}

.slide-from-right {
  transform: translateX(-350px);
  transition: all 1s ease;
}

.slide-from-right-max {
  transform: translateX(-500px);
  transition: all 1s ease;
}

.main-dashboard {
  position: relative;
  width: 100%;
  &::after {
    content: "";
    background: url("https://cdn.pixabay.com/photo/2016/11/23/18/20/maps-1854199_1280.jpg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

.form {
  .ui-input {
    background: $color-scale0;
    border-radius: 5px;
  }
  .login-component-btn,
  .register-component-btn {
    margin: 15px 0 0 0 !important;
    background: $color-scale3 !important;
    font-size: $font-size-little !important;
  }
  .register-driver-btn {
    margin: 15px 0 60px 0 !important;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
