.map-template-1 {
  min-height: 230px;
  min-width: 220px;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.map-template-2 {
  height: 80vh;
  min-width: 220px;
  top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.map-template-3 {
  height: 80vh;
  min-width: 220px;
  top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.map-template-4 {
  height: 80vh;
  min-width: 220px;
  top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
