p {
  font-size: $font-size-normal;
  font-family: $font-open;
  margin: 0 0 10px 0;
  color: $color-scale5;
}

b {
  font-size: $font-size-normal;
  font-weight: $font-bold;
}

a {
  font-size: $font-size-normal;
  font-family: $font-open;
  color: $color-scale5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-montserrat;
  font-weight: $font-bold;
  margin: 0 0 20px 0;
  color: $color-scale5;
}

h1 {
  font-size: $font-size-h1;
  line-height: 38px;
}

h2 {
  font-size: $font-size-h2;
  line-height: 32px;
}

h3 {
  font-size: $font-size-h3;
  line-height: 30px;
}

h4 {
  font-size: $font-size-h4;
  line-height: 26px;
}

h5 {
  font-size: $font-size-h5;
  line-height: 24px;
}

h6 {
  font-size: $font-size-h6;
  line-height: 22px;
}

.subtitle {
  font-size: $font-size-subtitle;
}

.title {
  font-size: $font-size-title;
  font-weight: $font-bolder;
}

.bold {
  font-weight: $font-bolder;
  font-family: $font-montserrat;
}
