/*--font---------------------------------------------------------------*/

$font-open: "Open Sans";
$font-montserrat: "Montserrat";
$font-arial: "Arial";
$font-size-base: 62.5%; /* 10px*/
$font-size-global: 1.6rem;
$font-size-littlest: 1rem;
$font-size-little: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-normal-big: 1.8rem;
$font-size-big: 2.2rem;
$font-size-bigger: 4rem;
$font-size-biggest: 6rem;
$font-size-subtitle: 3rem;
$font-size-title: 5rem;
$font-size-h1: 3.2rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;

$font-bold: 700;
$font-bolder: 1000;

/*--color---------------------------------------------------------------*/

$color-branding: (
  scale0: #fff,
  scale1: #bfc3ba,
  scale2: #a9aca9,
  scale3: #60495a,
  scale4: #3f3244,
  scale5: #2f2235
);

$color-scale0: map-get($color-branding, scale0);
$color-scale1: map-get($color-branding, scale1);
$color-scale2: map-get($color-branding, scale2);
$color-scale3: map-get($color-branding, scale3);
$color-scale4: map-get($color-branding, scale4);
$color-scale5: map-get($color-branding, scale5);

$color-branding-transparent: (
  scale0: rgba(255, 255, 255, 0.6),
  scale1: rgba(191, 195, 186, 0.6),
  scale2: rgba(169, 172, 169, 0.6),
  scale3: rgba(96, 73, 90, 0.6),
  scale4: rgba(63, 50, 68, 0.6),
  scale5: rgba(47, 34, 53, 0.6)
);

$color-transparent0: map-get($color-branding-transparent, scale0);
$color-transparent1: map-get($color-branding-transparent, scale1);
$color-transparent2: map-get($color-branding-transparent, scale2);
$color-transparent3: map-get($color-branding-transparent, scale3);
$color-transparent4: map-get($color-branding-transparent, scale4);
$color-transparent5: map-get($color-branding-transparent, scale5);

$color-networks: (
  instagram: #566cfe,
  twitter: #007ebf,
  github: #000000,
  linkedin: #1a2e88,
  codepen: #000000
);

$color-instagram: map-get($color-networks, instagram);
$color-twitter: map-get($color-networks, twitter);
$color-github: map-get($color-networks, github);
$color-linkedin: map-get($color-networks, linkedin);
$color-codepen: map-get($color-networks, codepen);

/* layout
---------------------------------------------------------------*/

$layout-desktop: 960px;

/* $mq
---------------------------------------------------------------*/

$mq-tablet: 800px;
$mq-mobile: 600px;
$mq-mobile-sm: 400px;
